/* Table of Contents
************************************************************************/

/* Includes
************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);


/* Fonts
************************************************************************/

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
div,
strong,
p,
a {
    font-family: 'Lato', Arial !important;
    font-style: normal;
    font-weight: 300;
}

strong {
    font-weight: 400;
}

.btn-readmore {
    font-family: 'Lato', Arial !important;
    font-style: normal;
    font-weight: 300;
    font-size:18px;
    line-height: 32px;
}

body {
    font-size:18px;
    line-height: 32px;
}

/* General
************************************************************************/


a:hover {
    text-decoration: none;
}

/* Footer
************************************************************************/
.site-footer {
    border-top:1px solid #d8d8d8;
    font-size:14px;
    line-height:20px;
    padding:30px 0;
    text-align: center;
    margin-top:10px;
}
.site-footer .madeinbsas {
    font-size:20px;
    line-height: 40px;
}

/* Container
************************************************************************/
.container-main {
    max-width: 800px;
}


/* Post - Header
************************************************************************/
.post-header {
    margin-bottom:10px;
}

.post-header h1 {
    margin-bottom:0;
}

.post-header h1 a {
    color:#333;
}

.post-header h1 a:hover,
.post-header h1 a:active {
    color:#111;
}

.post-header .post-meta {
    padding:5px;
    font-size:16px;
}
.post-header .post-meta a {
    background-color: #ecf0f1;
    padding-left:8px;
    padding-right:8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#333;
}

.post-header .post-meta a:hover {
    background-color: #333;
    color:#ecf0f1;
}

.post-header .post-meta i {
    color: #666;
    font-size:16px;
}



/* Post
************************************************************************/
.post {
    /*padding-bottom:30px;*/
    padding-top:20px;
    border-bottom: 1px dotted #ccc;.post-meta
}

.btn-readmore {
    background-color: #ecf0f1;
    color:#333;
}


.btn-readmore:hover {
    background-color: #333;
    color:#ecf0f1;
}

/* Paginador
************************************************************************/

.pager {
    margin-top:25px;
}
.next a, .previous a {
    background-color: #ecf0f1 !important;
    color:#333;
}

.next a:hover, .previous a:hover {
    background-color: #333 !important;
    color:#ecf0f1;
}
